.container {
  margin: 1rem 8rem 1rem 8rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: var(--primary-color);
  font-family: DMSansBold;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: rotate(2deg) scale(1.1);
  }
  &:active {
    transform: rotate(-4deg) scale(0.5);
  }
}
