@import "../../app/media-queries.css";

.container {
  margin: 1rem var(--sides-margin);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.centerContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  align-items: center;
  gap: 1rem;

  display: none;
  @media (--lg) {
    display: flex;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: var(--primary-color);
  font-family: DMSansBold;
  font-size: 1.5rem;
  font-weight: 800;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin-right: 0rem;
  @media (--lg) {
    margin-right: 2rem;
    &:hover {
      transform: rotate(2deg) scale(1.1);
    }
  }
  &:active {
    transform: rotate(-4deg) scale(0.5);
  }
}
