.imageContainer {
  position: relative;
  width: 85rem;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 5rem var(--sides-margin);
}

.centerArea {
  position: absolute;
  top: 10%;
  right: 0;
}

.title {
  font-size: 5rem;
  line-height: 5.5rem;
  margin-bottom: 1.5rem;
}

.text {
  color: var(--primary-color);
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}
