@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DMSansBold;
  src: url(../fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: DMSansRegular;
  src: url(../fonts/DMSans-Regular.ttf);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #c3c4c5;
  --nonactive-tab-color: #7c7c80;
  --bg-dark-color: #14161c;
  --bg-gray-color: #24262e;
  --button-bg-color: #0e0e11;
  --sides-margin: clamp(1rem, 5vw + 1rem, 8rem);
  background: radial-gradient(
    circle farthest-side at right bottom,
    var(--bg-gray-color),
    var(--bg-dark-color)
  );
  background-repeat: no-repeat;
}

body {
  min-width: 376px;
  min-height: 100dvh;
  overflow-x: auto;
  color: var(--secondary-color);
  font-family: DMSansRegular;
}

h1,
h2 {
  color: var(--primary-color);
  font-family: DMSansRegular;
}
